
@import url('https://fonts.googleapis.com/css2?family=Work+Sans:ital,wght@0,100..900;1,100..900&display=swap');


.work-sans-fonts {
  font-family: "Work Sans", sans-serif;
  font-optical-sizing: auto;
  
  font-style: normal;
}
/* common styles */
.flex{
    display: flex;
    
}
*{
    margin: 0px;
    padding: 0px;
} 
.dark1{
    color: #131313;
}
.dark2{
    color: #424242;
}
.dark3{
    color: #727272;
}
.orange{
    color: #FF900E;
}

 header{
    background-color: rgba(255, 144, 14, 0.1);
    max-width: 2000px;
 }   
 .btn{
    background-color: #FF900E;
    width: 180px;
    color: #FFFFFF;
    padding: 20px;
    border: 0px;
    border-radius: 8px;
    font-size: 1.25rem;
    
 }
 

/* nav styles */

.navbar{
    
    padding-top: 50px;
    padding-bottom: 100px;
    
    justify-content: space-around;
    align-items: center;  

}
.brand{
    font-weight: 700;
    font-size: 3rem;
}

.nav-rigsihtde ul{
    list-style: none;
    gap: 15px;
    
}
.nav-rigsihtde ul li a{
    text-decoration: none;
     color: #424242;

}
.brand-content h2{
    text-align: center;
    font-weight: 700;
    font-size: 4rem; 
}
.brand-content p{
    

    text-align: center;
    font-size: 1rem;
    padding-top:20px ;
    padding-bottom: 20px;

}
.banner img{
    width: 100%;
    margin-bottom: 30px;
    
    

}
#button{
  
   text-align: center;
   margin-bottom: 20px;
    
   
    
}
/* header section ends here */




.four-images{
   
    
    display: grid;
    gap: 20px;
    grid-template-columns:repeat(2,1fr)
    

}
.four-images img{
    width: 100%;
    
    
}
.side-content-of-team-font{
    font-size: 3rem;
    margin-bottom: 24px;
    
}
.page2{
    margin: 100px;
    gap: 73px;
    justify-content: center;
    align-items: center;
    
}
.side-content-of-team p{
    font-size: 1rem;
    margin-bottom: 32px;

}
/* third page */

.page3{
    margin: 100px;
    
    gap: 54px;
}
.Features-head h2{
    border-left:4px solid #FF900E;
    padding-left: 20px;
    font-size: 3rem;
    margin-bottom:24px ;

}
.Features-head p{
    margin-bottom: 30px;
}
.Features-head h3{
    font-size: 1.25rem;
    
}
.Features-shadow{
    padding: 30px;
    margin-bottom: 38px;
}
.Features-shadow div h3{
    margin-bottom: 10px;
}
.Features-shadow div p {
    margin-bottom: 50px;
}
.Features-shadow div{
    box-shadow: 1px 2px rgba(0, 0, 0, 0.06);
    
}
.experienced-arch img{
    width: 100%;
}
 #fir{
    font-size: 4rem;
}
#sec{
    font-size: 1.5rem;
}
.experienced-arch button{
    margin:-75px;
    
    width: 342px;
    height: 200px;
}
/* fourth page */

.page4{
    
    margin: 100px;
}
.page4 h3{
    font-size: 3rem;
    margin-bottom: 24px;
}
#page-4-p-font{
    font-size: 1rem;
    margin-bottom: 100px;


}
.four-cards{
    gap: 125px;
    justify-content: center;
}
.card{
    border: 1px solid #FF900E;
    margin-bottom: 180px;
    text-align: center;
    padding: 45px;
    
 }
 #number{
    font-size: 3rem;
 }
 #bot-content{
    font-size: 1rem;
 }





/* media query */
@media screen and (max-width:576px) {
    .navbar{
    padding-bottom: 20px;
}
.flex{
    flex-direction: column;
    
}
/* page two start */
.four-images{
    
    gap: 20px;
    grid-template-columns:repeat(1,1fr)
}
.page2{
    margin: 10px;
}
.page3{
    margin: 10px;
}
.page4{
    margin: 10px;
}
.side-content-of-team button{
    margin-bottom: 10px;
}
.experienced-arch button{
    
    margin: auto;
    width: 100%;
    height: 100%;
    
    
}
 #fir{
    font-size: 1.5rem;
}
#sec{
    font-size: 1rem;
}
.four-cards{
    gap: 25px;
    
}
.card{
    
    margin-bottom: 18px;
    text-align: center;
    padding: 30px;
    
 }





}